* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.logo a img {
    height: 150px;
    margin: 0 15px;
}

.links {
    float: right;
    margin: 15px;
    transform: translateY(-100px);
}

.links a {
    margin: 15px;
    font-size: 18px;
    color: white;
}

.links a:hover {
    color: #E3094E;
}

a.subscribe {
    font-weight: 550;
    padding: 10px 15px;
    background: #E3094E;
    border-radius: 30px;
}

a.subscribe:hover {
    color: white;
}

.body-content {
    color: whitesmoke;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.body-content h1 {
    margin: 10px;
    font-size: 7rem;
}

.body-content h1::after {
    content: '';
    top: 5%;
    position: absolute;
    left: 19%;
    display: inline-block;
    height: 1em;
    width: 55%;
    border-bottom: 3px solid #E3094E;
}

.body-content h2 {
    margin: 10px;
    font-size: 2rem;
}

button {
    padding: 10px 15px;
    font-size: 18px;
    font-weight: 650;
    background: #E3094E;
    color: white;
    outline: none;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin: 10px;
}